<% content_for :title, "Exhibitions List" %>

<div>
  <div class="container mx-auto px-4 lg:px-0 py-8">
    <div class="lg:w-3/5 lg:mx-auto">
      
      <h1 class="text-3xl font-semibold mb-8">Exhibitions List</h1>

      <% if @decades.present? %>
        <% @decades.each do |decade, exhibitions| %>
          <div class="mb-8">
            <h2 class="text-xl font-semibold mb-3"><%= decade %></h2>
            <ul class="space-y-2">
              <% exhibitions.each do |exhibition| %>
                <li class="text-md pl-4 border-l-2 border-yellow-700 text-pretty">
                    <% parts = exhibition.split(',', 2) %>
                    <em><%= parts[0] %></em><% if parts[1] %>,<%= parts[1] %><% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% else %>
        <p class="text-gray-600">No exhibition list available.</p>
      <% end %>

    </div>
  </div>
</div>