<% content_for :title, @category_title || "Indian Collection Gallery" %>

<div class="bg-white">
  <div class="container mx-auto px-2 lg:px-0">
    
    <% if @show_landing %>
      <%= render 'indian_collection/gallery/artworks/gallery_landing' %>
    <% else %>
      <%= render 'indian_collection/gallery/artworks/category_listing' %>
    <% end %>
  </div>
</div>