<% content_for :title, @category_title || "Indian Collection Gallery" %>

<div>
  <div class="container mx-auto px-2 lg:px-0">
    <%= render 'indian_collection/gallery/artworks/category_nav' %>

    <div class="lg:flex lg:gap-8">
      <%= render 'indian_collection/gallery/artworks/sidebar_filters' %>
      <%= render 'indian_collection/gallery/artworks/artwork_grid', artworks: @artworks %>
    </div>
  </div>
</div>
