<!-- category navbar -->
<%= render 'resources/resource_nav' %>

<div class="lg:flex lg:gap-8">
  <%= render 'resources/sidebar_filters' %>
  <%= render 'resources/resource_grid', artworks: @artworks %>
</div>
