<% 
  # set defaults 
  artwork ||= @artwork
%>

<div class="bg-gray-100 px-6 pt-6 pb-10 mb-12">
  <h2 class="text-lg text-gray-600 underline mb-4">Collections</h2>
  <ul class="space-y-3">
    <% artwork.collections.each do |collection| %>
      <li>
        <%= link_to collection_path(collection.slug),
            class: "block group" do %>
          <% if collection.location.present? %>
            <span class="text-lg font-semibold text-gray-600 group-hover:text-blue-400"><%= collection.location %></span>
          <% end %>
          <br>
          <span class="text-xl font-semibold group-hover:text-blue-800"><%= collection.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
