<%= link_to collection.path, class: "group block" do %>
  <div class="py-1">
    <% if collection.location.present? %>
      <h3 class="font-semibold text-md text-gray-500 group-hover:text-blue-400"><%= collection.location %></h3>
    <% end %>

    <h2 class="font-semibold text-lg group-hover:text-blue-800">
      <%= collection.name %>
    </h2>
  </div>
<% end %>
