<% if flash.any? %>
  <div class="fixed top-24 right-4 z-[70] space-y-2">
    <% flash.each do |type, message| %>
      <div class="<%= flash_class(type) %> px-6 py-4 rounded-lg shadow-lg flex items-center gap-3 animate-slide-in max-w-md">
        <i class="<%= flash_icon(type) %>"></i>
        <span><%= message %></span>
        <button onclick="this.parentElement.remove()" class="ml-auto hover:opacity-70">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    <% end %>
  </div>
<% end %>