<span class="page">
  <% if page.current? %>
    <span class="px-3 py-1 text-base border border-black"><%= page %></span>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: "px-3 py-1 text-sm text-black hover:text-blue-800 transition-colors" %>
  <% end %>
</span>
