<div class="mb-12">
  <div class="mt-1 mb-12 grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
    <%= render 'search_form',
        form_url: gallery_design_path,
        show_type_filter: false,
        show_subcategory_filter: true,
        quote: {
          text: "Before anything else they are images that must contain the potential for further transformation.",
          author: "John-Paul Stonard on the distinction between Hodgkin's paintings and his theatre designs",
          source: "Howard Hodgkin: Stage Designs, Anthony d'Offay 2002.",
          size: "text-md lg:text-lg"
        } %>
  </div>

  <%= render 'subcategory_grid',
      subcategories: @design_subcategory_pages,
      fallback_subcategories: @design_subcategories,
      show_year: true %>
</div>