<!-- search/filter-->
<div class="mt-1 mb-12 grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
  <%= render 'search_form', 
      form_url: gallery_all_path, 
      show_type_filter: true,
      quote: { text: "A lot of people... are afraid of pictures which have visible 
      emotions in them. They feel calmer in front of pictures which are placid", 
      author: "Howard Hodgkin" } %>
</div>

<div class="mb-16">  
  <%= render 'category_grid', 
      categories: @gallery_categories, 
      special_collections: @special_collections %>
</div>
