<% content_for :title, "Design - Gallery" %>

<div>
    
    <!-- breadcrumbs -->
    <%# <nav class="mb-8 text-sm text-gray-600">
      <%= link_to "Home", root_path, class: "hover:text-black" %>
      <%# <span class="mx-2">/</span>
      <%= link_to "Gallery", gallery_root_path, class: "hover:text-black" %>
      <%# <span class="mx-2">/</span>
      <span class="text-black">Design</span>
    </nav> %>

    <% if @show_design_layout %>
      <%= render 'design_landing' %>
    <% else %>
      <%= render 'category_listing' %>
    <% end %>
</div>